<h1>掲示板</h1>
<p>自由に使ってね</p>
<%= form_tag("/top/text_create", id:"top_form") do %>
    　<span>name:</span>
    　<input type="text" name="name"></input>
    　<span>content:</span>
    　<input type="text" name="content"></input>
      <%= submit_tag "書き込み" %>
<% end %>

<div>
<% @comments.each do | row | %>
  <div class="top_comment">
  <span>Name: <%=row["name"] %></span>
  <span>Comment: <%=row["content"] %></span>
  </div>
<% end %>
</div>