// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#top_form {
    margin: 10px 0px;
}

.top_comment{
    margin: 10px 0px; 
}